name: Python packaging

on:
  push:
    branches:
      - main
      - ci-*

permissions:
  contents: read

jobs:
  build_windows:
    name: Build wheels on windows with Python ${{ matrix.python-version }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: install libelf and setup.cfg
      run: |
        C:\\msys64\\msys2_shell -no-start -defterm -c "pacman -Sy --noconfirm mingw-w64-x86_64-libelf"
        copy ".\.github\workflows\github_setup.cfg.in" setup.cfg

    - name: Build package
      continue-on-error: true
      run: |
        python -m pip install --upgrade build delvewheel
        python -m build -w > "build_windows_${{ matrix.python-version }}.log" 2>&1
        $files = Get-ChildItem ".\dist"
        foreach ($f in $files) {
          python -m delvewheel repair $f.FullName --ignore-in-wheel -w ./wheelhouse
        }
        move build_windows_*.log wheelhouse

    - uses: actions/upload-artifact@v3
      with:
        name: dist
        path: |
          wheelhouse/*.whl
          wheelhouse/*.log


  build_ubuntu:
    name: Build wheels on ubuntu
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: install libelf
      run: |
        sudo apt-get update
        sudo apt-get install libelf-dev

    - name: Build package
      run: |
        python -m pip install --upgrade build
        python -m build -w > "build_ubuntu.log" 2>&1
        mv build_ubuntu.log dist

    - uses: actions/upload-artifact@v3
      with:
        name: dist
        path: dist/build_ubuntu.log


  sdist:
    name: Source Distribution
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Build package
      run: |
        python -m pip install --upgrade build
        python -m build -s

    - uses: actions/upload-artifact@v3
      with:
        name: dist
        path: dist/*.tar.gz
